*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-image: url('https://mybigplunge.com/wp-content/uploads/2018/04/url-shortener-theplungedaily.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    filter: blur(5px);
}

.main{
    position: relative;
    background-color: transparent;
    height: 300px;
    width: 500px;
    border: 1px solid rgb(111, 255, 185);
    border-radius: 20px;
    margin-top: 10%;
    box-shadow: 0px 0px 0px 5px;
}

#longurl{
    position: relative;
    top: 20%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    background-color: transparent;
}

#shorten{
    position: relative;
    top: 20%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: rgb(10, 236, 10);
    background-color: transparent;
}

#shorten:hover{
    background-color: rgb(150, 135, 235);
}

#shorturl{
    position: relative;
    top: 25%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    background-color: transparent;
}

#copy{
    position: relative;
    top: 26%;
    left: 0%;
    height: 25px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: green;
}

#copy:hover{
    background-color: skyblue;
}

.main p{
    /* background-color: white; */
    position: relative;
    top: 10%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(160, 0, 0);
}